# Django
DJANGO_SETTINGS_MODULE=nandetuiter.settings.dev
SECRET_KEY=change-me-in-prod-use-django-secret-key-generator
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Database (Postgres en Docker)
POSTGRES_DB=nandetuiter
POSTGRES_USER=nandetuiter
POSTGRES_PASSWORD=nandetuiter
POSTGRES_HOST=db
POSTGRES_PORT=5432

# CORS (Angular dev server)
CORS_ALLOWED_ORIGINS=http://localhost:4200
